<div class="content-m-left-right">
    <div class="path-div"><span>&nbsp;&nbsp;&nbsp;首页&nbsp;&nbsp;>&nbsp;&nbsp;</span><span class="path-div-current-txt">合作伙伴</span></div>
    <div class="content-bg-white-div">
        <div class="index-c-down-div ">
            <div style="padding-left: 20px; font-size: 22px; width: 100%; color: #128d56"><img src="/images/p_icon.png" width="25px;" />合作伙伴</div>
            <div class="partner-div" ng-repeat="partner in partners">
                <div>
                    <div class="partner-title" ng-bind="partner.C_Name"></div>
                    <div class="partner-des" ng-bind="partner.C_Remark"><span style="color: #128d56">>更多</span> </div>
                </div>
                <div class="index-c-down-plist">
                    <div class="partner-one" ng-repeat="project in projects | partnerProjectFilter:partner.Id">
                        <div style="width:96%">
                            <div><img ng-src="{{project | filePathFilter}}" /></div>
                            <div ng-bind="project.C_Title"></div>
                            <div class="index-c-down-project-des txt-ellipsis" ng-bind="project.C_Remark" title="{{project.C_Remark}}"></div>
                        </div>
                    </div>
                </div>
                <div style="clear:both"></div>
            </div>

        </div>
    </div>
</div>
