<!--留言反馈-->
<div class="row">
    <div class="col-sm-12 col-md-12" style="margin-bottom:1em;">
        <div class="row ck9">
            <div class="col-sm-11 col-md-11 white18a">
                意见反馈
            </div>
            <div class="col-sm-1 col-md-1" style="text-align:right;">
                <a style="cursor:pointer;line-height:25px;" ng-click="detailSwitch('#FeedBack');">
                    <img ng-src="../../images/{{Img('FeedBack')}}">
                </a>
            </div>
        </div>
        <div id="FeedBack" class="row" style="margin-left:-2.5em;margin-right:-2.5em;">
            <div class="col-sm-12 col-md-12">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr style="background-color: #55c2c2; border-bottom: 5px #55c2c2 solid; ">
                            <th class="epCaption" style="width:15%;">留言人</th>
                            <th class="epCaption" style="width:20%">日期</th>
                            <th class="epCaption" style="width:15%">阶段</th>
                            <th class="epCaption" style="width:50%">内容</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in Fbitems">
                            <td class="epRowItem" align="center">{{item.I_Creater}}</td>
                            <td class="epRowItem" align="center">{{item.D_Create}}</td>
                            <td class="epRowItem" align="center">{{item.I_State | FlowState}}</td>
                            <td class="epRowItem" align="left">{{item.T_Content}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>