<div>
    <div style="background-color:#434a54;height:76px;">
        <div class="btn-group ">
            <a id="dh2" class="btn topButtons" style="background: url(/images/dh2.png) no-repeat 50% 18px; color:white;" ui-sref="projectEdit({id:-1})">新建项目</a>
            <a id="dh3" class="btn topButtons" style="background: url(/images/dh3.png) no-repeat 50% 18px; color: white;" ui-sref="projectList">项目列表</a>
            <a id="dh7" class="btn topButtons" style="background: url(/images/dh3.png) no-repeat 50% 18px; color: white;">ISO</a>
            <a id="dh4" class="btn topButtons" style="background: url(/images/dh5.png) no-repeat 50% 18px; color: white;" href="/Views/Help/Pcm_List_All.html" target="_blank">帮助中心</a>
            <a id="dh5" class="btn topButtons" style=" color:white;" ng-class="{'tooldh5':messageCount<=0}" ui-sref="message({index:1})">
                消息中心
                <span class="badge pull-right" ng-show="messageCount>0" style="margin-top: -3.3em; margin-right: 0.9em; font-size: 16px; background-color: #d10f0f; " ng-bind="messageCount">
                </span>
            </a>
            <a id="dh6" class="btn topButtons" style="background: url(/images/quit.png) no-repeat 50% 18px; color: white;" ng-click="logout();">退出系统</a>
        </div>
    </div>
    <ul id="shortMenu" class="dropdown-menu" style="overflow:hidden;" role="menu">
        <li><a tabindex="-1" style="cursor:pointer" ui-sref="auditlist">待审列表</a></li>
        <li><a tabindex="-1" style="cursor:pointer" ui-sref="auditover()">已审列表</a></li>
        <li><a tabindex="-1" style="cursor:pointer" ng-show="onShowExpense()" ui-sref="expensereport">报销列表</a></li>
        <li><a tabindex="-1" style="cursor:pointer" ng-show="onShowReceipt()" ui-sref="receiptreport">发票列表</a></li>
        <li><a tabindex="-1" style="cursor:pointer" ui-sref="contractConfirm" ng-show="onShowContract()">合同清单</a></li>
        <li><a tabindex="-1" style="cursor:pointer" ui-sref="onYearProjectList()">年度项目</a></li>
    </ul>

    <ul id="isoMenu" class="dropdown-menu" style="overflow:hidden;" role="menu">
        <li><a tabindex="-1" ui-sref="iso.equiopmentlist">运 维</a></li>
    </ul>
</div>