
<div class="content-m-left-right">
    <div class="path-div"><span>&nbsp;&nbsp;&nbsp;首页&nbsp;&nbsp;>&nbsp;&nbsp;用户中心&nbsp;&nbsp;>&nbsp;&nbsp;</span><span class="path-div-current-txt">我的项目</span></div>
    <div class="content-bg-white-div" style="min-height:500px;">
        <div class="myAccount-title">
            <div style="margin-left:20px; float:left">
                <img src="/images/ad_qd2.png" /><span>&nbsp;&nbsp;账户余额：￥</span><span>5000000</span>
            </div>
            <div style="float:right;">
                <div class="shenhe-bt" style="margin-left:20px;"><div class="btn-contral">使用记录</div></div>
                <div class="shenhe-bt"><div class="btn-contral">我要捐款</div></div>
            </div>
        </div>
        <div class="userinfo-detail-div">
            <div class="myAccount-tab-bt">
                <div class="myAccount-select-div" ui-sref="myProjects">我的项目</div>
                <div class="myAccount-unselect-div" ui-sref="myAccount">基本资料</div>
            </div>

            <table border="1" cellpadding="1" cellspacing="1" class="myProjects-table">
                <tr><td class="td-user-title ">项目名称</td><td class="td-myprojiect-value">划拨资金</td></tr>
                <tr><td class="td-user-title ">发起机构</td><td class="td-user-value">13912312312</td></tr>
                <tr><td class="td-user-title ">完成动态</td><td class="td-user-value">用户111</td></tr>
                <tr><td class="td-user-title">目前募集</td><td class="td-user-value">13912312312</td></tr>
                <tr><td class="td-user-title">募集目标</td><td class="td-user-value">上海徐汇区</td></tr>
            </table>
            <table border="1" cellpadding="1" cellspacing="1" class="myProjects-table">
                <tr><td class="td-user-title ">项目名称</td><td class="td-myprojiect-value">划拨资金</td></tr>
                <tr><td class="td-user-title ">发起机构</td><td class="td-user-value">13912312312</td></tr>
                <tr><td class="td-user-title ">完成动态</td><td class="td-user-value">用户111</td></tr>
                <tr><td class="td-user-title">目前募集</td><td class="td-user-value">13912312312</td></tr>
                <tr><td class="td-user-title">募集目标</td><td class="td-user-value">上海徐汇区</td></tr>
            </table>
            <table border="1" cellpadding="1" cellspacing="1" class="myProjects-table">
                <tr><td class="td-user-title ">项目名称</td><td class="td-myprojiect-value">划拨资金</td></tr>
                <tr><td class="td-user-title ">发起机构</td><td class="td-user-value">13912312312</td></tr>
                <tr><td class="td-user-title ">完成动态</td><td class="td-user-value">用户111</td></tr>
                <tr><td class="td-user-title">目前募集</td><td class="td-user-value">13912312312</td></tr>
                <tr><td class="td-user-title">募集目标</td><td class="td-user-value">上海徐汇区</td></tr>
            </table>
            <table border="1" cellpadding="1" cellspacing="1" class="myProjects-table">
                <tr><td class="td-user-title ">项目名称</td><td class="td-myprojiect-value">划拨资金</td></tr>
                <tr><td class="td-user-title ">发起机构</td><td class="td-user-value">13912312312</td></tr>
                <tr><td class="td-user-title ">完成动态</td><td class="td-user-value">用户111</td></tr>
                <tr><td class="td-user-title">目前募集</td><td class="td-user-value">13912312312</td></tr>
                <tr><td class="td-user-title">募集目标</td><td class="td-user-value">上海徐汇区</td></tr>
            </table>
            <table border="1" cellpadding="1" cellspacing="1" class="myProjects-table">
                <tr><td class="td-user-title ">项目名称</td><td class="td-myprojiect-value">划拨资金</td></tr>
                <tr><td class="td-user-title ">发起机构</td><td class="td-user-value">13912312312</td></tr>
                <tr><td class="td-user-title ">完成动态</td><td class="td-user-value">用户111</td></tr>
                <tr><td class="td-user-title">目前募集</td><td class="td-user-value">13912312312</td></tr>
                <tr><td class="td-user-title">募集目标</td><td class="td-user-value">上海徐汇区</td></tr>
            </table>
            <table border="1" cellpadding="1" cellspacing="1" class="myProjects-table">
                <tr><td class="td-user-title ">项目名称</td><td class="td-myprojiect-value">划拨资金</td></tr>
                <tr><td class="td-user-title ">发起机构</td><td class="td-user-value">13912312312</td></tr>
                <tr><td class="td-user-title ">完成动态</td><td class="td-user-value">用户111</td></tr>
                <tr><td class="td-user-title">目前募集</td><td class="td-user-value">13912312312</td></tr>
                <tr><td class="td-user-title">募集目标</td><td class="td-user-value">上海徐汇区</td></tr>
            </table>
            <table border="1" cellpadding="1" cellspacing="1" class="myProjects-table">
                <tr><td class="td-user-title ">项目名称</td><td class="td-myprojiect-value">划拨资金</td></tr>
                <tr><td class="td-user-title ">发起机构</td><td class="td-user-value">13912312312</td></tr>
                <tr><td class="td-user-title ">完成动态</td><td class="td-user-value">用户111</td></tr>
                <tr><td class="td-user-title">目前募集</td><td class="td-user-value">13912312312</td></tr>
                <tr><td class="td-user-title">募集目标</td><td class="td-user-value">上海徐汇区</td></tr>
            </table>
            <table border="1" cellpadding="1" cellspacing="1" class="myProjects-table">
                <tr><td class="td-user-title ">项目名称</td><td class="td-myprojiect-value">划拨资金</td></tr>
                <tr><td class="td-user-title ">发起机构</td><td class="td-user-value">13912312312</td></tr>
                <tr><td class="td-user-title ">完成动态</td><td class="td-user-value">用户111</td></tr>
                <tr><td class="td-user-title">目前募集</td><td class="td-user-value">13912312312</td></tr>
                <tr><td class="td-user-title">募集目标</td><td class="td-user-value">上海徐汇区</td></tr>
            </table>
        </div>
    </div>
</div>