<div class="content-m-left-right">
    <div class="path-div"><span>&nbsp;&nbsp;&nbsp;首页&nbsp;&nbsp;>&nbsp;&nbsp;我要捐款&nbsp;&nbsp;>&nbsp;&nbsp;</span><span class="path-div-current-txt">项目详情</span></div>
    <div class="content-bg-white-div">
        <div class="p-detail-title">
            <div style=" float:left; margin-left:30px;">项目详情</div>
            <div style=" float:right; margin-right:30px;">
                <div class="shenhe-bt"><div class="btn-contral" style="height:28px;">我要捐款</div></div>
            </div>
        </div>
        <div class="detail-title-green" ng-bind="project.C_Title"></div>
        <div class="detail-content-hui">
            <table border="0" cellpadding="0" cellspacing="0" class="detail-table-zt">
                <tr>
                    <td><span class="detail-table-icon"><img src="/images/ad_bfb.png" /></span>
                      <span ng-bind="project.M_Percent | number:2"></span></td>
                    <td><span class ="detail-table-icon"><img src="/images/ad_qd.png" /></span>
                      <span ng-bind="project.M_Donation"></span></td>
                    <td><span class="detail-table-icon"><img src="/images/ad_qd2.png" /></span>
                      <span ng-bind="project.M_Plan"></span></td>
                    <td><span class="detail-table-icon"><img src="/images/ad_qd3.png" /></span>
                      <span>我已捐款：{{project.M_SelfDonation}}</span></td>
                </tr>
            </table>
        </div>

        <div class="detail-title-green">项目简介</div>
        <div class="detail-content-hui" style="min-height:300px">
            <div class="project-jj-line">
                <div class="project-jj-title">项目简介：</div>
                <div class="project-jj-content" ng-bind="project.C_Remark"></div>
            </div>
            <div class="project-jj-line" style=" border-bottom: 1px solid #bcbcbc;"></div>
            <div class="project-jj-line">
                <div class="project-jj-title">项目目标：</div>
                <div class="project-jj-content" ng-bind="project.C_Target"></div>
            </div>
            <div class="project-jj-line">
                <div class="project-jj-title">项目实施周期：</div>
                <div class="project-jj-content" ng-bind="project.C_Cycle"></div>
            </div>
            <div class="project-jj-line">
                <div class="project-jj-title">项目实施地点：</div>
                <div class="project-jj-content" ng-bind="project.C_Site"></div>
            </div>
            <div class="project-jj-line">
                <div class="project-jj-title">项目受益群体：</div>
                <div class="project-jj-content" ng-bind="project.C_People"></div>
            </div>
            <div class="project-jj-line">
                <div class="project-jj-title">预计受益人数：</div>
                <div class="project-jj-content" ng-bind="project.I_Person"></div>
            </div>
        </div>


        <div class="detail-title-green">机构简介</div>
        <div class="detail-content-hui" style="min-height:250px">
            <div class="project-jj-line">
                <div class="project-jj-title">机构名称：</div>
                <div class="project-jg-content" ng-bind="project.C_OrgName">壹基金</div>
                <!-- <div class="project-jg-title">民非注册号：</div>
                <div class="project-jg-content2">123123213</div> -->
            </div>
            <div class="project-jj-line">
                <div class="project-jj-title">成立时间：</div>
                <div class="project-jg-content" ng-bind="project.D_OrgCreate | date:'yyyy-MM-dd'"></div>
                <div class="project-jg-title">机构业务范围及专注领域：</div>
                <div class="project-jg-content2" ng-bind="project.C_OrgBusiness"></div>
            </div>
            <div class="project-jj-line">
                <div class="project-jj-title">机构负责人：</div>
                <div class="project-jg-content" ng-bind="project.C_OrgContact"></div>
                <div class="project-jg-title">联系方式：</div>
                <div class="project-jg-content2" ng-bind="project.C_OrgMobile"></div>
            </div>
            <div class="project-jj-line">
                <div class="project-jj-title">项目负责人：</div>
                <div class="project-jg-content" ng-bind="project.C_Project_Contacter"></div>
                <div class="project-jg-title">联系方式：</div>
                <div class="project-jg-content2" ng-bind="project.C_Project_Contacter_Mobile"></div>
            </div>
            <div class="project-jj-line">
                <div class="project-jj-title">联系地址：</div>
                <div class="project-jg-content" ng-bind="project.C_Address"></div>
                <div class="project-jg-title">邮箱：</div>
                <div class="project-jg-content2" ng-bind="project.C_Email"></div>
            </div>
            <div class="project-jj-line">
                <div class="project-jj-title">计划募捐金额：</div>
                <div class="project-jg-content" ng-bind="project.M_Plan"></div>
                <div class="project-jg-title">募捐起止日期：</div>
                <div class="project-jg-content2">{{project.D_Start | date:'yyyy-MM-dd'}} --- {{project.D_End | date:'yyyy-MM-dd'}}</div>
            </div>
            <div class="project-jj-line">
                <div class="project-jj-title">项目领域：</div>
                <div class="project-jg-content" style=" width:80%">
                    <label><input name="Fruit" type="checkbox" checklist-model="project.Fields" checklist-value="'1'" />安老服务</label> &nbsp;&nbsp;&nbsp;
                    <label><input name="Fruit" type="checkbox" checklist-model="project.Fields" checklist-value="'2'" />扶幼服务</label>&nbsp;&nbsp;&nbsp;
                    <label><input name="Fruit" type="checkbox" checklist-model="project.Fields" checklist-value="'3'" />助学服务</label>&nbsp;&nbsp;&nbsp;
                    <label><input name="Fruit" type="checkbox" checklist-model="project.Fields" checklist-value="'4'" />济困服务</label>&nbsp;&nbsp;&nbsp;
                    <label><input name="Fruit" type="checkbox" checklist-model="project.Fields" checklist-value="'5'" />其&nbsp;&nbsp;他</label>
                </div>
            </div>
        </div>

        <div class="detail-title-green">项目动态<span style="float:right;margin-right:20px;">更新时间：2015-06-01</span></div>
        <div class="detail-content-hui" style="min-height:200px">
            <div class="project-jj-line" style="line-height:25px;">中国的慈善事业，同样有着自己悠久的传统。汉唐寺院济贫、赈灾、医疗、戒残杀的长盛不衰；宋代养老扶幼事业的勃兴；元医疗救助的兴起；明清民间慈善群体在中国慈善史上首屈一指 。更有当今国门开放以来，涌现出一批批社会贤达、名流、企业家、离退休干部为水灾、为贫困大中小学生、为艾滋病、白内障的贫困患者，默默从事的慈善救助。统计表明，至少一半的富豪要求对其捐款事实及数额“保密”。</div>
            <div class="index-c-down-plist">
                <div class="partner-one">
                    <div style="width:96%">
                        <div><img src="/images/c01.png"></div>
                        <div>1.5亿善款支持10万个孩子</div>
                    </div>
                </div>
                <div class="partner-one">
                    <div style="width: 96%">
                        <div><img src="/images/c02.png"></div>
                        <div>1.5亿善款支持10万个孩子</div>
                    </div>
                </div>
                <div class="partner-one">
                    <div style="width: 96%">
                        <div><img src="/images/c03.png"></div>
                        <div>1.5亿善款支持10万个孩子</div>
                    </div>
                </div>
                <div class="partner-one">
                    <div style="width: 96%">
                        <div><img src="/images/c03.png"></div>
                        <div>1.5亿善款支持10万个孩子</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="detail-title-green">项目文件</div>
        <div class="detail-content-hui" style="min-height:150px">
            <table border="1" cellpadding="1" cellspacing="1" width="100%" style="margin-top:10px;">
                <tr class="manage-table-tr-title"><td>类型</td><td>名称</td><td>上传人</td><td>上传日期</td><td>操作</td></tr>
                <tr class="manage-table-tr-valus" ng-repeat="file in files | projectOtherFileFilter">
                  <td ng-bind="file.I_Category | dictNameFilter"></td>
                  <td ng-bind="file.C_OriginName"></td>
                  <td ng-bind="file.C_Uploader"></td>
                  <td ng-bind="file.D_Upload | date:'yyyy-MM-dd'"></td>
                  <td> <span class="manage-bt-update"><a href="{{file.C_FileName}}">下载</span></td>
               </tr>
            </table>
        </div>
        <div class="detail-title-green">我要捐款</div>
          <div class="detail-content-hui" style="min-height: 250px; padding-bottom: 50px;">
              <div class="juankuan-line-div">
                  <label ng-repeat="item in _sys.words | dictFilter:20" style="margin-right:20px;" >
                    <input name="Fruit" type="radio" ng-model="donation.I_Method" value="{{item.Id}}" />{{item.C_Name}}
                  </label>
              </div>
              <div class="juankuan-line-div"><input class="input-contral-project" ng-model="donation.M_Money" placeholder="捐款金额"></div>
              <div class="juankuan-line-div">
                <label><input type="radio" ng-model="donation.I_From" value="115" />&nbsp;账户余额 </label>&nbsp;&nbsp;&nbsp;
                <label><input type="radio" ng-model="donation.I_From" value="120" />&nbsp;网上支付-支付宝 </label>&nbsp;&nbsp;&nbsp;
                <label><input type="radio" ng-model="donation.I_From" value="125" />&nbsp;银&nbsp;联 </label>
              </div>
              <div class="juankuan-line-div" style="width:80%">
                <span style="color:#ff6a00" >账户余额：{{donation.M_Balance}}</span>
              </div>
              <div class="juankuan-line-div" style="width:80%">
                <label><input name="Fruit" type="checkbox" ng-model="donation.I_RequiredReceipt" />&nbsp;我要发票</label>&nbsp;---&nbsp;
                <span style=" color:#ff6a00">请仔细填写发票快递地址,并请自负快递费用</span>
              </div>
              <div ng-hide="donation.I_RequiredReceipt===false">
                <div class="juankuan-line-div"><input ng-model="donation.C_ReceiptTitle" class="input-contral-project" placeholder="发票抬头"></div>
                <div class="juankuan-line-div"><input ng-model="donation.C_ReceiptName" class="input-contral-project" placeholder="收件人"></div>
                <div class="juankuan-line-div"><input ng-model="donation.C_ReceiptMobile" class="input-contral-project" placeholder="联系方式"></div>
                <div class="juankuan-line-div"><input ng-model="donation.C_ReceiptAddress" class="input-contral-project" placeholder="联系地址"></div>
              </div>
              <div class="juankuan-line-div" style="width:100%" >
                   <div style="width:120px;float:right;">
                     <button type="submit" class="btn-contral" ng-click="pay(donation)">支&nbsp;&nbsp;&nbsp;&nbsp;付</button>
                  </div>
              </div>
          </div>
    </div>
</div>
