<div class="content-m-left-right">
    <div class="path-div"><span>&nbsp;&nbsp;&nbsp;首页&nbsp;&nbsp;>&nbsp;&nbsp;用户中心&nbsp;&nbsp;>&nbsp;&nbsp;</span><span class="path-div-current-txt">项目申请</span></div>
    <div class="content-bg-white-div">
        <div class="userinfo-title">项目申请</div>
        <div class="pa-div" style="min-height:220px;">
            <div class="title-green">项目名称</div>
                <table border="0" cellpadding="0" cellspacing="0" width="96%" style="margin-left:10px;">
                    <tr>
                        <td class="td-project-alpple-txt">机构名称</td>
                        <td class="td-project-alpple-contral">
                          <input class="input-contral-project" placeholder="">
                        </td>
                        <td class="td-project-alpple-txt">项目发布方</td>
                        <td class="td-project-alpple-contral">
                          <input class="input-contral-project" style="width:50%" placeholder="">
                          <label style="font-weight: 100; width: 30% ;float:right">
                            <input name="Fruit" type="checkbox" value="" />自有项目</label>
                        </td>
                    </tr>
                    <tr>
                        <td class="td-project-alpple-txt">成交时间</td>
                        <td class="td-project-alpple-contral">
                          <input class="input-contral-project" placeholder="">
                        </td>
                        <td class="td-project-alpple-txt">机构业务范围<br />及专注领域</td>
                        <td class="td-project-alpple-contral">
                          <input class="input-contral-project" placeholder="" />
                        </td>
                    </tr>
                    <tr>
                        <td class="td-project-alpple-txt">机构负责人</td>
                        <td class="td-project-alpple-contral">
                          <input class="input-contral-project" placeholder="">
                        </td>
                        <td class="td-project-alpple-txt">联系方式</td>
                        <td class="td-project-alpple-contral">
                          <input class="input-contral-project" placeholder="" />
                        </td>
                    </tr>
                    <tr>
                        <td class="td-project-alpple-txt">项目负责人</td>
                        <td class="td-project-alpple-contral">
                          <input class="input-contral-project" placeholder="">
                        </td>
                        <td class="td-project-alpple-txt">联系方式</td>
                        <td class="td-project-alpple-contral">
                          <input class="input-contral-project" placeholder="" />
                        </td>
                    </tr>
                    <tr>
                        <td class="td-project-alpple-txt">联系地址</td>
                        <td class="td-project-alpple-contral">
                          <input class="input-contral-project" placeholder="">
                        </td>
                        <td class="td-project-alpple-txt">邮箱</td>
                        <td class="td-project-alpple-contral">
                          <input class="input-contral-project" placeholder="" />
                        </td>
                    </tr>
                </table>
                <table border="0" cellpadding="0" cellspacing="0" width="96%" style="margin-left:10px;">
                    <tr>
                        <td class="td-project-audit-txt">募捐项目名称</td>
                        <td class="td-project-audit-contral">
                          <input class="input-contral-project" placeholder="">
                        </td>
                        <td class="td-project-audit-txt">计划募捐金额</td>
                        <td class="td-project-audit-contral">
                          <input class="input-contral-project" placeholder="">
                        </td>
                        <td class="td-project-audit-txt">募捐起止时间</td>
                        <td class="td-project-audit-contral">
                          <input class="input-contral-project" placeholder="">
                        </td>
                    </tr>
                    <tr>
                        <td class="td-project-audit-txt">募捐项目名称</td>
                        <td class="td-project-audit-contral" colspan="5">
                            <label><input name="Fruit" type="checkbox" value="" />安老服务</label> &nbsp;&nbsp;&nbsp;
                            <label><input name="Fruit" type="checkbox" value="" />扶幼服务</label>&nbsp;&nbsp;&nbsp;
                            <label><input name="Fruit" type="checkbox" value="" />助学服务</label>&nbsp;&nbsp;&nbsp;
                            <label><input name="Fruit" type="checkbox" value="" />济困服务</label>&nbsp;&nbsp;&nbsp;
                            <label><input name="Fruit" type="checkbox" value="" />其&nbsp;&nbsp;他</label>
                        </td>
                    </tr>
                </table>
        </div>


        <div class="pa-div" style="min-height:220px;">
            <table border="0" cellpadding="0" cellspacing="0" width="96%" style="margin-left:10px;">
                <tr>
                    <td class="td-project-alpple-txt">项目简介</td>
                    <td class="td-project-alpple-contral" colspan="3" style="width: 87%">
                        <textarea name="yj" style="width: 100%; height: 100px; border: 1px solid #128d56" rows="5"></textarea>
                    </td>
                </tr>
                <tr>
                    <td class="td-project-alpple-txt">图片上传</td>
                    <td class="td-project-alpple-contral" colspan="3" style="width: 87%">
                        <table>
                            <tr>
                                <td style="width: 80%;">
                                    <img src="/images/c01.png" class="upload-imgs" />
                                    <img src="/images/c01.png" class="upload-imgs" />
                                    <img src="/images/c01.png" class="upload-imgs" />
                                    <img src="/images/c01.png" class="upload-imgs" />
                                    <img src="/images/c01.png" class="upload-imgs" />
                                    <img src="/images/c01.png" class="upload-imgs" />
                                </td>
                                <td>
                                    <div class="img-upload-bt">&nbsp;上&nbsp;&nbsp;传</div>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td class="td-project-alpple-txt">项目目标</td>
                    <td class="td-project-alpple-contral" colspan="3" style="width: 87%"><input class="input-contral-project" placeholder=""></td>
                </tr>
                <tr>
                    <td class="td-project-alpple-txt">项目实施周期</td>
                    <td class="td-project-alpple-contral" colspan="3" style="width: 87%"><input class="input-contral-project" placeholder=""></td>
                </tr>
                <tr>
                    <td class="td-project-alpple-txt">项目实施地点</td>
                    <td class="td-project-alpple-contral" colspan="3" style="width: 87%"><input class="input-contral-project" placeholder=""></td>
                </tr>
                <tr>
                    <td class="td-project-alpple-txt">项目收益群体</td>
                    <td class="td-project-alpple-contral" ><input class="input-contral-project" placeholder=""></td>
                    <td class="td-project-alpple-txt">预计收益人数</td>
                    <td class="td-project-alpple-contral"><input class="input-contral-project" placeholder=""></td>
                </tr>
            </table>
        </div>

        <div class="pa-div" style="background-color:#ffffff;">
             <div style="color:#128d59">上传文件</div>
             <table border="1" cellpadding="1" cellspacing="1" width="100%" style="margin-top:10px;">
                 <tr class="manage-table-tr-title"><td>类型</td><td>名称</td><td>操作</td></tr>
                 <tr class="manage-table-tr-valus"><td>项目申请书</td><td>项目申请书001.doc</td><td><span class="manage-bt-update">下载</span></td></tr>
                 <tr class="manage-table-tr-valus"><td>项目申请书</td><td>项目申请书001.doc</td><td><span class="manage-bt-update">下载</span></td></tr>
                 <tr class="manage-table-tr-valus"><td>项目预算</td><td>项目预算.doc</td><td><span class="manage-bt-update">下载</span></td></tr>
             </table>
             <div class="project-alpple-icon-div">
                 <div class="project-alpple-icon-div-one"><img src="/images/sh.png" />上传项目申请书</div>
                 <div class="project-alpple-icon-div-one"><img src="/images/xz.png" />下载申请书模板</div>
                 <div class="project-alpple-icon-div-one"><img src="/images/sh.png" />上传项目预算</div>
                 <div class="project-alpple-icon-div-one"><img src="/images/xz.png" />下载项目预算模板</div>
             </div>
             <div class="myAccount-bt-line " style="padding-right:4%;"><div class="shenhe-bt"><div class="btn-contral" style="margin-left:20px;">取&nbsp;&nbsp;&nbsp;&nbsp;消</div></div><div class="shenhe-bt"><div class="btn-contral" style="">提&nbsp;&nbsp;&nbsp;&nbsp;交</div></div></div>
         </div>
    </div>

</div>
