<div class="content-m-left-right">
    <div class="path-div"><span>&nbsp;&nbsp;&nbsp;首页&nbsp;&nbsp;>&nbsp;&nbsp;</span><span class="path-div-current-txt">我要捐款</span></div>
    <div class="content-bg-white-div">
        <div class="partner-div">
            <div class="index-c-down-plist">
                <div><img src="/images/donation.png" width="100%" style=" padding-right:2%; padding-bottom:20px;" /></div>
                <div class="donation-one">
                    <div class="donation-title">安老服务</div>
                    <div class="one-donation" ng-repeat="project in projects | projectFieldFilter:1">
                        <div><a style="cursor:pointer" ui-sref="projectView({id:project.Id})"><img src="/images/c01.png" /></a></div>
                        <div ng-bind="project.C_Title"></div>
                        <div class="index-c-down-project-des" ng-bind="project.C_Remark"></div>
                    </div>
                </div>
                <div class="donation-one">
                    <div class="donation-title">扶幼服务</div>
                    <div class="one-donation" ng-repeat="project in projects | projectFieldFilter:2">
                        <div><a style="cursor:pointer" ui-sref="projectView({id:project.Id})"><img src="/images/c01.png" /></a></div>
                        <div ng-bind="project.C_Title"></div>
                        <div class="index-c-down-project-des" ng-bind="project.C_Remark"></div>
                    </div>
                </div>
                <div class="donation-one">

                    <div class="donation-title">助学服务</div>
                    <div class="one-donation" ng-repeat="project in projects | projectFieldFilter:3">
                        <div><a style="cursor:pointer" ui-sref="projectView({id:project.Id})"><img src="/images/c01.png" /></a></div>
                        <div ng-bind="project.C_Title"></div>
                        <div class="index-c-down-project-des" ng-bind="project.C_Remark"></div>
                    </div>
                </div>
                <div class="donation-one">
                    <div class="donation-title">济困服务</div>
                    <div class="one-donation" ng-repeat="project in projects | projectFieldFilter:4">
                        <div><a style="cursor:pointer" ui-sref="projectView({id:project.Id})"><img src="/images/c01.png" /></a></div>
                        <div ng-bind="project.C_Title"></div>
                        <div class="index-c-down-project-des" ng-bind="project.C_Remark"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
