<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClownFish" version="1.2.0.0" targetFramework="net45" />
  <package id="Log4net" version="1.2.13" targetFramework="net45" />
  <package id="NPIO" version="1.2.4" targetFramework="net45" />
  <package id="TokenHelper" version="1.0.3" targetFramework="net45" />
</packages>