<?xml version="1.0" encoding="utf-8"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <appSettings>

    <!--短信接口配置-->
    <add key="switch" value="on" />
    <add key="eid" value="0008" />
    <add key="serviceNo" value="0008" />
    <add key="server" value="sms.easttone.com" />
    <add key="port" value="8080" />
    <add key="pwd" value="liucheng837@^!" />

    <add key="cors:allowedOrigin" value="*" />
    <add key="cors:allowedHeaders" value="*" />
    <add key="cors:allowedMethods" value="*" />

    <add key="FileUpload" value="D:\Devspace\CharityPlatform\CharityPlatformWeb\files"/>
  </appSettings>

  <!--数据库配置-->
  <connectionStrings>
    <!--<add name="sqldb" connectionString="Data Source=192.168.145.106;Database=CharityPlatform_Develop;UID=sa;pwd=He135@tonG;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />-->
    <add name="sqldb" connectionString="Data Source=.;Database=CharityPlatform_Develop;UID=sa;pwd=sa;MultipleActiveResultSets=True;" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web.extensions>
    <scripting>
      <webServices>
        <jsonSerialization maxJsonLength="60000000" />
      </webServices>
    </scripting>
  </system.web.extensions>

  
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime requestValidationMode="2.0" maxRequestLength="51200" useFullyQualifiedRedirectUrl="false" executionTimeout="600000" minFreeThreads="8" minLocalRequestFreeThreads="4" appRequestQueueLimit="500" enableVersionHeader="true" requestPathInvalidCharacters="" />
  </system.web>

  

<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
