<div>
    <div class="col-sm-11 col-md-11">
        <p class="tj7_1" style="text-align:center;color:#fff;font-size:14px;font-family:微软雅黑;" ng-bind="title"></p>
        <ul class="tj7_3" style="margin-top:-0.9em;">
            <li ng-repeat="item in depts" ng-dblclick="depts.splice($index, 1)" ng-click="selected(item)" ng-class="{'flowDeptSelected':item.Id === selectedDept.Id}" ng-bind="item.Name">
            </li>
        </ul>
    </div>
    <div class="col-sm-1 col-md-1" style="margin-left:-2em; padding-top:10em; padding-left:-2em;">
        <button type="button" class="btn btn-default" style="margin-bottom:1em;" ng-click="up(selectedDept);">
            <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
        </button>
        <button type="button" class="btn btn-default" ng-click="down(selectedDept);">
            <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
        </button>
    </div>
</div>