<div class="content-m-left-right">
    <div class="path-div"><span>&nbsp;&nbsp;&nbsp;首页&nbsp;&nbsp;>&nbsp;&nbsp;用户中心&nbsp;&nbsp;>&nbsp;&nbsp;</span><span class="path-div-current-txt">基本资料</span></div>
    <div class="content-bg-white-div" style="min-height:500px;">
        <div class="myAccount-title">
            <div style="margin-left:20px; float:left">
                <img src="/images/ad_qd2.png" /><span>&nbsp;&nbsp;账户余额：￥</span><span>5000000</span>
            </div>
            <div style="float:right;">
                <div class="shenhe-bt" style="margin-left:20px;"><div class="btn-contral">使用记录</div></div>
                <div class="shenhe-bt"><div class="btn-contral">我要捐款</div></div>
            </div>
        </div>
        <div class="userinfo-detail-div">
            <div class="myAccount-tab-bt">
                <div ng-class="{'myAccount-unselect-div':!$state.includes('user.project'), 'myAccount-select-div':$state.includes('user.project')}" ui-sref="user.project">我的项目</div>
                <div ng-class="{'myAccount-unselect-div':!$state.includes('user.detail'), 'myAccount-select-div':$state.includes('user.detail')}" ui-sref="user.detail">基本资料</div>
            </div>
            <div ui-view>
                
            </div>

            <!-- <table border="1" cellpadding="1" cellspacing="1" width="100%">
                <tr><td class="td-user-title ">登录名</td><td class="td-user-value">13912312312</td></tr>
                <tr><td class="td-user-title ">姓名</td><td class="td-user-value">用户111</td></tr>
                <tr><td class="td-user-title">联系方式</td><td class="td-user-value">13912312312</td></tr>
                <tr><td class="td-user-title">注册地点</td><td class="td-user-value">上海徐汇区</td></tr>
            </table>
            <table border="1" cellpadding="1" cellspacing="1" width="100%" style="margin-top:10px;">
                <tr><td class="td-user-title ">机构地址</td><td class="td-user-value">用户111</td></tr>
                <tr><td class="td-user-title">联系人</td><td class="td-user-value">13912312312</td></tr>
                <tr><td class="td-user-title">联系方式</td><td class="td-user-value">上海徐汇区</td></tr>
            </table>

            <div class="myAccount-bt-line "><img src="/images/ystg.png" /></div>
            <div class="myAccount-bt-line "><div class="shenhe-bt"><div class="btn-contral" style="margin-left:20px;">修改密码</div></div><div class="shenhe-bt"><div class="btn-contral" style="">资料变更</div></div></div> -->
        </div>

    </div>

</div>
