<div class="content-m-left-right">
    <div class="path-div"><span>&nbsp;&nbsp;&nbsp;首页&nbsp;&nbsp;>&nbsp;&nbsp;用户中心&nbsp;&nbsp;>&nbsp;&nbsp;</span><span class="path-div-current-txt">基本资料</span></div>
    <div class="content-bg-white-div" style="min-height:500px;">
        <div class="myAccount-title">
            <div style="margin-left:20px; float:left">
                <img src="/images/ad_qd2.png" /><span>&nbsp;&nbsp;账户余额：</span><span ng-bind="M_Balance"></span>
            </div>
            <div style="float:right;">
                <div class="shenhe-bt" style="margin-left:20px;"><div class="btn-contral">使用记录</div></div>
                <div class="shenhe-bt" ui-sref="donationList"><div class="btn-contral">我要捐款</div></div>
            </div>
        </div>
        <div class="userinfo-detail-div">
            <div class="myAccount-tab-bt">
                <div ng-class="{'myAccount-unselect-div':!$state.includes('user.projectMine'), 'myAccount-select-div':$state.includes('user.projectMine')}" ui-sref="user.projectMine">我的项目</div>
                <div ng-class="{'myAccount-unselect-div':!$state.includes('user.detail'), 'myAccount-select-div':$state.includes('user.detail')}" ui-sref="user.detail">基本资料</div>
            </div>
            <div ui-view>

            </div>
        </div>

    </div>

</div>
