<div class="content-m-left-right">
    <div class="path-div"><span>&nbsp;&nbsp;&nbsp;首页&nbsp;&nbsp;>&nbsp;&nbsp;</span><span class="path-div-current-txt">登录</span></div>
    <div class="content-bg-white-div">
        <div class="content-login-div">
            <div class="login-title">登&nbsp;&nbsp;录</div>
            <div class="input-login">
                <div class="input-icon-img">&nbsp;&nbsp;<img src="/images/login_user.png" width="25px;" /></div>
                <div class="input-div">
                    <input class="input-contral" type="tel" placeholder="用户名" ng-model="userName">
                </div>
            </div>
            <div class="input-login">
                <div class="input-icon-img">&nbsp;&nbsp;<img src="/images/login_pws.png" width="25px;" /></div>
                <div class="input-div">
                    <input class="input-contral" type="password" placeholder="密码" ng-model="password">
                </div>
            </div>
            <div class="btn-groups">
                <div style=" width: 43%; float: left;">
                        <div class="btn-contral" ng-click="login(userName, password)">登&nbsp;&nbsp;录</div>
                </div>
                <div style=" width: 43%; float: right;">
                    <div class="btn-contral" ui-sref="register">注&nbsp;&nbsp;册</div>
                </div>
            </div>
            <div class="forget-psw">
                忘记密码
            </div>
        </div>
    </div>
</div>
