 <div class="row">
    <div class="col-md-10 col-md-offset-1 bg" style="height:55em;margin-top:2em;">
        <div class="row" style="padding-top:25em;">
            <!--<div class="logo">
                <img src="/images/logo.png" />
            </div>-->
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-11" style="margin-left:2em;">
                        <p style="font-family: 微软雅黑; font-size: 1.2em; color: #202775;margin-left: 2em; line-height: 1.5em; text-align:right; margin-top:-3em;">
                            <a href="/Views/Help/Pcm_List_Notice.html" target="_blank">>>更多</a>
                        </p>
                        <p style="font-family: 微软雅黑; font-size: 1.2em; color: #202775; line-height: 1.1em; text-indent: 2em; padding-left: 2em;">
                            经集团公司批准，本系统升级并覆盖控股子公司
                        </p>
                        <p style="font-family: 微软雅黑; font-size: 1.2em; color: #202775;  line-height: 1.5em;text-indent:2em; padding-left:2em;">
                            系统原有用户，用户名变更为姓名拼音全拼，密码为原密码补零补足8位。如张三，原用户名和密码为zs、asd，新用户名和密码为zhangsan、asd00000 。如原密码大于等于8位，则密码不变。
                        </p>
                        <p style="font-family: 微软雅黑; font-size: 1.2em; color: #202775; line-height: 1.1em;text-indent:2em;padding-left:2em;">
                            尚未拥有账户的同仁，出于安全需要，需请系统联络员创建账户。
                        </p>
                        <p style="font-family: 微软雅黑; font-size: 1.2em; color: #202775;  line-height: 1.0em; text-indent: 2em; padding-left:2em;">
                            登录验证码字母不区分大小写。
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12">
                        <div style="width:315px;padding-left:6em; margin-top:-10em;">
                            <form class="form-horizontal" role="form" id="loginForm" ng-submit="login();">
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input type="text" class="form-control" id="userName" ng-model="userName" placeholder="用户名" required autofocus tabindex="1" maxlength="20">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default disabled" type="button">
                                                    <span class="glyphicon glyphicon-user"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <input type="password" class="form-control" id="password" ng-model="password" placeholder="密码" required tabindex="2" maxlength="20">
                                            <span class="input-group-btn">
                                                <button class="btn btn-default disabled" type="button">
                                                    <span class="glyphicon glyphicon-question-sign"></span>
                                                </button>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        <div class="input-group">
                                            <span id="idcode" />
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-7 col-sm-offset-5">
                                        <button type="submit" class="btn " style="border: 0; background-color: #ed6502; height: 30px; font-family: 微软雅黑; font-size: 14px; color: #FFF; " ng-disabled="loginForm.$invalid">登录系统</button>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-10">
                                        <div class="fl100"><img src="/images/wx1.jpg"></div>
                                        <div class="fr100"><img src="/images/wx2.jpg"></div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="pic100">
            <img src="/images/logos_1.jpg" usemap="#Map" border="0">
            <map name="Map" id="Map">
                <area shape="rect" coords="1,4,59,55" href="#" />
                <area shape="rect" coords="68,4,126,54" href="#" /> 
            </map>
        </div>
    </div>
</div>
