<div class="index-c-gt">
    <carousel interval="myInterval">
        <slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.image}}" style="margin:auto;" />
            <div class="carousel-caption">
                <p>{{slide.text}}</p>
            </div>
        </slide>
    </carousel>
</div>
<div class="content-p-left-right" >
    <div class="index-c-down-div ">
        <div class="index-c-down-left">
            <div>
                <div class="index-c-down-left-project-txt">我们的项目</div>
                <div class="index-c-down-left-more-txt">更多...</div>
            </div>
            <div class="index-c-down-plist">
                <div class="index-c-down-project-one">
                    <div><img src="/images/c01.png" /></div>
                    <div>1.5亿善款支持10万个孩子</div>
                    <div class="index-c-down-project-des">希望工程20年间累计捐助达到1.5亿元，帮助10万名贫困失学儿童摆脱贫困的处境</div>
                </div>
                <div class="index-c-down-project-one">
                    <div><img src="/images/c02.png" /></div>
                    <div>1.5亿善款支持10万个孩子</div>
                    <div class="index-c-down-project-des">希望工程20年间累计捐助达到1.5亿元，帮助10万名贫困失学儿童摆脱贫困的处境</div>
                </div>
                <div class="index-c-down-project-one">
                    <div><img src="/images/c03.png"/></div>
                    <div>1.5亿善款支持10万个孩子</div>
                    <div class="index-c-down-project-des">希望工程20年间累计捐助达到1.5亿元，帮助10万名贫困失学儿童摆脱贫困的处境</div>
                </div>
            </div>
        </div>
        <div class="index-c-down-right">
            <div class="index-c-down-right-title">支持我们</div>
            <div class="index-c-down-right-greed">
                <div class="index-c-down-right-greed-in">
                    <div class="index-c-down-right-txt-line"><span class="index-c-down-right-txt-line-left">月计划</span><span class="index-c-down-right-txt-line-right">></span></div>
                    <div class="index-c-down-right-txt-line"><span class="index-c-down-right-txt-line-left">单次捐款活动</span><span class="index-c-down-right-txt-line-right">></span></div>
                    <div class="index-c-down-right-txt-line"><span class="index-c-down-right-txt-line-left">注册</span><span class="index-c-down-right-txt-line-right">></span></div>
                </div>
            </div>
        </div>
    </div>
</div>

