<div class="content-m-left-right">
    <div class="path-div"><span>&nbsp;&nbsp;&nbsp;首页&nbsp;&nbsp;>&nbsp;&nbsp;</span><span class="path-div-current-txt">关于我们</span></div>
    <div class="content-bg-white-div">
        <div class="content-details">
            <div class="content-details-title">
                <img src="/images/icon_aboutus.png" />&nbsp;&nbsp;关于我们
            </div>
            <div style="line-height:25px;">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;慈善网络平台是上海浦东慈善基金2007年4月创立的著名公益组织，2011年1月11日在深圳注册为中国第一家民间公募基金会。以&ldquo;尽我所能，人人公益&rdquo;为愿景，搭建专业透明的公益平台，专注于灾害救助、儿童发展、公益支持三大领域，致力于成为中国公益的开拓者、创新者和推动者。
                </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2007年，李连杰先生创立启动了壹基金，与中国红十字总会合作设立&ldquo;中国红十字会李连杰壹基金计划&rdquo;，以独立运作的慈善计划和专案的形式在中国大陆开展公益事业。
                </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2008年10月，为了保证公益项目更高效地实施，在中国红十字总会、上海市民政局等多方主管机构的指导和支持下，上海李连杰壹基金公益基金会以私募基金会的形式注册成立。作为&ldquo;中国红十字会李连杰壹基金计划&rdquo;的执行机构，上海李连杰壹基金公益基金会严格按照《基金会管理条例》开展各项业务活动，向&ldquo;中国红十字会李连杰壹基金计划&rdquo;进行专项的汇报与结算，并接受年度审计。
                </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;2010年12月3日，深圳壹基金公益基金会在深圳市民政局的大力支持下正式注册成立，拥有独立从事公募活动的法律资格。深圳壹基金注册原始基金为5000万元，发起机构为上海李连杰壹基金公益基金会、老牛基金会、腾讯公益慈善基金会、万通公益基金会及万科公益基金会，每家发起机构出资1000万元。
                </p>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&ldquo;中国红十字会李连杰壹基金计划&rdquo;及&ldquo;上海李连杰壹基金公益基金会&rdquo;清算注销，其项目、资金及工作人员由深圳壹基金承接。
                </p>
            </div>
        </div>
    </div>
</div>

