<div class="content-m-left-right">
    <div class="path-div"><span>&nbsp;&nbsp;&nbsp;首页&nbsp;&nbsp;>&nbsp;&nbsp;用户中心&nbsp;&nbsp;>&nbsp;&nbsp;</span><span class="path-div-current-txt">角色管理</span></div>
    <div class="content-bg-white-div">
        <div class="manager-div">
            <div class="manager-left">
                <div class="manager-tree-select" ui-sref="manageRole">角色管理</div>
                <div class="manager-tree-unselect " ui-sref="managePermission">权限管理</div>
                <div class="manager-tree-unselect " ui-sref="managePartner">合作伙伴</div>
                <div class="manager-tree-unselect " ui-sref="manageUser">用户管理</div>
            </div>
            <div class="manager-right" ui-view>                
            </div>
        </div>
    </div>
</div>
