<div class="content-m-left-right">    
    <div class="content-bg-white-div">
        <div class="userinfo-title"></div>
        <div class="pa-div" style="min-height:120px;">
            <div class="title-green">合伙伙伴审核</div>     
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" ng-model="_sys.editItem.I_Audited" value="185"> 审核通过 
            </label>
            <label class="radio-inline">
              <input type="radio" name="inlineRadioOptions" ng-model="_sys.editItem.I_Audited" value="190"> 审核未通过
            </label>      
        </div>
        <div class="pa-div"> 
            <div class="myAccount-bt-line " style="padding-right:4%;">
                <div class="shenhe-bt" ng-click="close()"><div class="btn-contral" style="margin-left:20px;">取&nbsp;&nbsp;&nbsp;&nbsp;消</div></div><div class="shenhe-bt"><div class="btn-contral" ng-click="save()">确&nbsp;&nbsp;&nbsp;&nbsp;定</div></div></div>
        </div>
    </div>

</div>