<div class="manage-line-div"><div class="search-div "><input class="input-contral-back search-bt" placeholder="姓名、登录名"><img src="/images/search.png" width="30px" /></div> </div>
    <div class="manage-line-div">
        <table border="1" cellpadding="1" cellspacing="1" width="100%" style="margin-top:10px;">
            <tr class="manage-table-tr-title"><td>机构</td><td>联系人</td><td>联系方式</td><td>状态</td><td>操作</td></tr>
            <tr class="manage-table-tr-valus"><td>user001</td><td>user001</td><td>13918112345</td><td>待审</td><td><span class="manage-bt-update">修改</span>&nbsp;&nbsp;<span class="manage-bt-role">审核</span></td></tr>
            <tr class="manage-table-tr-valus"><td>user001</td><td>user001</td><td>13918112345</td><td>待审</td><td><span class="manage-bt-update">修改</span>&nbsp;&nbsp;<span class="manage-bt-role">审核</span></td></tr>
            <tr class="manage-table-tr-valus"><td>user001</td><td>user001</td><td>13918112345</td><td>已审</td><td><span class="manage-bt-update">修改</span>&nbsp;&nbsp;</td></tr>
            <tr class="manage-table-tr-valus"><td>user001</td><td>user001</td><td>13918112345</td><td>已审</td><td><span class="manage-bt-update">修改</span>&nbsp;&nbsp;</td></tr>
            <tr class="manage-table-tr-valus"><td>user001</td><td>user001</td><td>13918112345</td><td>已审</td><td><span class="manage-bt-update">修改</span>&nbsp;&nbsp;</td></tr>
            <tr class="manage-table-tr-valus"><td>user001</td><td>user001</td><td>13918112345</td><td>已审</td><td><span class="manage-bt-update">修改</span>&nbsp;&nbsp;</td></tr>
        </table>

    </div>