<div class="manage-line-div"><input class="input-contral-back" placeholder="权限名称"></div>
<div class="manage-line-div"><textarea class="input-contral-back" style="height:100px;" rows="5" placeholder="权限描述"></textarea></textarea></div>
<div class="manage-line-div">
    <label><input name="Fruit" type="checkbox" value="" />权限01</label> &nbsp;&nbsp;&nbsp;
    <label><input name="Fruit" type="checkbox" value="" />权限02</label>&nbsp;&nbsp;&nbsp;
    <label><input name="Fruit" type="checkbox" value="" />权限03</label>&nbsp;&nbsp;&nbsp;
    <label><input name="Fruit" type="checkbox" value="" />权限04</label>
</div>