<div class="content-m-left-right">
    <div class="path-div"><span>&nbsp;&nbsp;&nbsp;首页&nbsp;&nbsp;>&nbsp;&nbsp;用户中心&nbsp;&nbsp;>&nbsp;&nbsp;</span><span class="path-div-current-txt">角色管理</span></div>
    <div class="content-bg-white-div">
        <div class="manager-div">
            <div class="manager-left">
                <div ng-class="{'manager-tree-select':$state.includes('sys.role'), 'manager-tree-unselect':!$state.includes('sys.role')}" ui-sref="sys.role">角色管理</div>
               <!--  <div ng-class="{'manager-tree-select':_sys.hold.tab===1, 'manager-tree-unselect':_sys.hold.tab!==1}" ng-click="nav(1)">权限管理</div> -->
                <div ng-class="{'manager-tree-select':$state.includes('sys.partner'), 'manager-tree-unselect':!$state.includes('sys.partner')}" ui-sref="sys.partner">合作伙伴</div>
                <div ng-class="{'manager-tree-select':$state.includes('sys.user'), 'manager-tree-unselect':!$state.includes('sys.user')}" ui-sref="sys.user">用户管理</div>
                <div ng-class="{'manager-tree-select':$state.includes('sys.checklist'), 'manager-tree-unselect':!$state.includes('sys.checklist')}" ui-sref="sys.checklist">待审项目</div>
            </div>
            <div class="manager-right" ui-view>
            </div>

        </div>

    <div style="clear:both"></div>
    </div>

</div>
