<div class="manage-line-div">
    <div class="manage-line-div">
        <div class="search-div">
            <input class="input-contral-back search-bt" placeholder="名称、联系人" ng-model="filterValue">
            <img src="/images/search.png" style="cursor:pointer; width:25px;" ng-click="search(filterValue)" />
        </div>
    </div>
    <div style="float: right; padding: 5px 1px 5px 0; cursor: pointer;font-size:15px; color:#159059">添加</div>
</div>
    <div class="manage-line-div">
        <table border="1" cellpadding="1" cellspacing="1" width="100%" style="margin-top:10px;">
            <tr class="manage-table-tr-title"><td>角色</td><td>备注</td><td>状态</td><td>操作</td></tr>
            <tr class="manage-table-tr-valus" ng-repeat="item in items">
            <td ng-bind="item.C_Name"></td>
            <td ng-bind="item.C_Remark"></td>
            <td ng-bind="item.I_Flag | dictFilter"></td>          
            <td><span class="manage-bt-update">修改</span>&nbsp;&nbsp;<span class="manage-bt-role">权限</span></td>
        </tr>   
        </table>
        <div boot-strap-page page-index="_sys.hold.pageIndex" page-total="_sys.hold.total" />
    </div>
<div class="manage-line-div">
    <label><input name="Fruit" type="checkbox" value="" />权限01</label> &nbsp;&nbsp;&nbsp;
    <label><input name="Fruit" type="checkbox" value="" />权限02</label>&nbsp;&nbsp;&nbsp;
    <label><input name="Fruit" type="checkbox" value="" />权限03</label>&nbsp;&nbsp;&nbsp;
    <label><input name="Fruit" type="checkbox" value="" />权限04</label>
</div>